<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/dashboard" href="#">RollCall {{orgName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/organizations">Organizations</a>
            </li>
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Analytics
        </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/dashboard/analytics/event">Event Analytics</a>
                    <a class="dropdown-item" routerLink="/dashboard/analytics/member">Member Analytics</a>
                </div>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        -->
        </ul>
        <div class="row">
            <!-- <div class="col">
                <button class="btn btn-outline-warning" style="white-space: nowrap; text-align: center;" routerLink="/dashboard/organizations" type="submit">Organizations</button>
            </div> -->
            <div class="col">
                <button class="btn btn-outline-success " routerLink="/dashboard/profile" type="submit">Profile</button>
            </div>
            <div class="col">
                <button class="btn btn-danger" (click)="auth.logout()" type="submit">Logout</button>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>