<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/dashboard" href="#">RollCall {{orgName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/dashboard" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="events" >Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/analytics">Analytics</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        -->
      </ul>
      <div class="row">
          <div class="col">
              <button class="btn btn-outline-warning"  style="white-space: nowrap; text-align: center;" routerLink="/dashboard/organizations" type="submit">Organizations</button>
            </div>
        <div class="col">
          <button class="btn btn-outline-success " routerLink="/dashboard/profile" type="submit">Profile</button>
        </div>
        <div class="col">
          <button class="btn btn-danger" (click)="auth.logout()" type="submit">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>