<div class="container-fluid mt-3">
</div>
<div class="d-flex align-items-center text-center" style="height: 850px">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops! Page Not Found</h1>
      <div class="error-details mt-2">
      </div>
      <div class="error-actions mt-3">
        <button routerLink="/dashboard" class="btn btn-lg btn-primary" type="submit">
          <fa-icon [icon]="faHome"></fa-icon> Take Me Home</button>
      </div>
    </div>
  </div>
</div>