<fmyp-dashboard-header [title]="sharedData.eventsTitle" [description]="sharedData.eventsDesc" ></fmyp-dashboard-header>
<div class="row" style="padding-left: 5em; padding-right:5em;">
<div class="row">
	<button type="button" href="#" routerLink="/dashboard/events/create" class="btn btn-success btn-lg" style="margin:15px;">Create Event</button>
</div>
<div class="row">
	<div class="col-4" style="padding-bottom: 20px;" *ngFor="let event of events">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{org.organization}}</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the
					bulk of the card's content.
				</p>
				<div class="row">
					<div class="col" *ngIf="!org.active">
						<a  class="btn btn-warning btn-block" (click)="activateOrg(org)">Activate</a>
					</div>
					<div class="col">
						<button class="btn btn-outline-success btn-block" (click)="openDialog(org)" >Enroll</button>
					</div>
					<div class="col">
						<a  class="btn btn-outline-primary btn-block">Edit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
