<fmyp-organization-header></fmyp-organization-header>
<div class="container">
  <h3>Create New Organization</h3>
  <form>
    <div class="form-group">
      <label for="name">Organization Name</label>
      <input type="text" class="form-control" id="name" required />
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="alterEgo">Point Category</label>
        <input type="text" class="form-control" id="alterEgo" />
      </div>
      <div class="col">
        <label for="alterEgo">Point Value</label>
        <input type="text" class="form-control" id="alterEgo" />
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
